//
// authentication.scss
//

.auth-brand {
    margin-bottom: 2rem;

    .logo-dark {
        display: block;
    }

    .logo-light {
        display: none;
    }
}

html[data-theme="dark"] {

    .auth-brand {

        .logo-dark {
            display: none;
        }

        .logo-light {
            display: block;
        }
    }
}

// authentication pages background
body.authentication-bg {
    // background-image: $auth-bg-pattern-img;
    background-size: cover;
    background-position: center;

    .account-pages {
        align-items: center;
        display: flex;
        min-height: 100vh;
    }
}

.authentication-bg.enlarged,
.auth-fluid-pages.enlarged,
body.auth-fluid-pages[data-sidenav-size="condensed"] {
    min-height: 100px;
}

// Logout page
.logout-icon {
    width: 140px;
}

// Authentication fluid
.auth-fluid {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    align-items: stretch;
    background: url("../images/bg-login.png") center;
    background-size: cover;

    .auth-fluid-form-box {
        max-width: 480px;
        border-radius: 0;
        z-index: 2;
        padding: 3rem;
        background-color: $card-bg;
        position: relative;
        width: 100%;
    }

    .auth-fluid-reg-form-box {
        max-width: 50%;
        border-radius: 0;
        z-index: 2;
        padding: 3rem;
        background-color: $card-bg;
        position: relative;
        width: 100%;
    }

    

    .auth-fluid-right,
    .auth-fluid-left {
        padding: 6rem 3rem;
        flex: 1;
        position: relative;
        color: $white;
        // background-color: rgba($black, 0.3);
    }

    
    
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: row;
    align-items: stretch;
    background: url("../images/bg-login.png") center;
    background-size: cover;

    .auth-fluid-form-box {
        max-width: 480px;
        border-radius: 0;
        z-index: 2;
        padding: 3rem;
        background-color: $card-bg;
        position: relative;
        width: 100%;
    }

    .auth-fluid-reg-form-box {
        max-width: 50%;
        border-radius: 0;
        z-index: 2;
        padding: 3rem;
        background-color: $card-bg;
        position: relative;
        width: 100%;
    }

    

    .auth-fluid-right,
    .auth-fluid-left {
        padding: 6rem 3rem;
        flex: 1;
        position: relative;
        color: $white;
        // background-color: rgba($black, 0.3);
    }
}


.auth-user-testimonial {
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
    top: 2rem !important;
    color: #5a5a5a !important;
    // background: #00000085;

    p.lead {
        font-size: 1.125rem;
        margin: 0 auto 20px auto;
        max-width: 700px;
    }
}


@include media-breakpoint-down(lg) {
    .auth-fluid {
        display: block;

        .auth-fluid-form-box {
            max-width: 100%;
            min-height: 100vh;
        }

        .auth-fluid-right {
            display: none;
        }
    }
}

// Dark mode
html[data-theme="dark"] {
    .auth-brand {
        .logo-light {
            display: block;
        }

        .logo-dark {
            display: none;
        }
    }
}

.my-auto-reg {
    margin-top:0px;
    margin-bottom: auto !important;
}


.login-card {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: url(../images/login/login_bg.jpg);
    background-position: center;
    padding: 30px 12px;
}


.login-card .login-main {
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 37px rgb(8 21 66 / 5%);
    margin: 0 auto;
    background-color: #fff;
}

.login-card .logo {
    display: block;
    margin-bottom: 30px;
    text-align: center !important;
    margin: o auto;
    width: 100%;
}

.login-card .login-main .theme-form .form-group {
    margin-bottom: 10px;
    position: relative;
}

.login-card .login-main .theme-form input {
    background-color: #f3f3ff;
    transition: all 0.3s ease;
}


form.theme-form input {
    background-color: #f3f3ff;
    transition: all 0.3s ease;
}

img.img-fluid.for-dark {
    height: 3rem !important;
    text-align: center;
}

.logo-reg {
    height: 3rem !important;
    text-align: center;
}

.btn-showcase {
    margin-bottom: -10px;
}

.login-card .login-main .theme-form .show-hide {
    top: 50%;
}

.show-hide {
    position: absolute;
    top: 52px;
    right: 20px;
    transform: translateY(-50%);
}

.show-hide span {
    cursor: pointer;
    font-size: 13px;
    color: var(--theme-deafult);
}

.login-card .login-main .theme-form h4 {
    margin-bottom: 5px;
}

.login-card .login-main .theme-form label {
    font-size: 15px;
    letter-spacing: 0.4px;
}

textarea#example-textarea {
    background-color: #f3f3ff;
    transition: all 0.3s ease;
}

.left-btm-content {
    position: absolute;
    bottom: 1rem;
    width: 70%;
    margin: 0 auto;
    left: 12rem;
}

h3.tagline-faq {
    background: #ffffffad;
    padding: 1rem;
    border-radius: 6px;
}

p.text-muted.mt-3.faq-tagline {
    background: #ffffffd9;
    padding: 1rem;
    border-radius: 6px;
}