.navbar-custom {
    padding: 20px 0px;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.clients {
    position: relative;
    top: -70px;
    box-shadow: 0 10px 35px 0 rgb(152 166 173 / 10%);
    border-radius: 8px;
    margin-bottom: -70px;
}

.features-box {
    padding: 30px;
    text-align: center;
}

.section {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.pricing-plan {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    border-radius: 9px;
    max-width: 370px;
    margin: 0px auto;
}

.pricing-list {
    padding-left: 20px;
}

.faq-question-q-box {
    height: 30px;
    width: 30px;
    color: #673ab7;
    text-align: center;
    border-radius: 50%;
    float: left;
    font-weight: 700;
    line-height: 30px;
    background-color: rgba(103, 58, 183, 0.15);
}

.faq-question {
    margin-top: 0;
    margin-left: 50px;
    font-size: 16px;
}

.faq-answer {
    margin-left: 50px;
    font-size: 14.5px;
}
.demo-box, .testi-desc {
    box-shadow: 0 10px 35px 0 rgb(152 166 173 / 10%);
    border-radius: 7px;
}

.bg-shape {
    position: absolute;
    bottom: -1px;
    left: 0px;
    right: 0px;
}

.custom-form {
    box-shadow: 0 10px 35px 0 rgb(152 166 173 / 10%);
    border-radius: 8px;
}

.footer {
    padding: 60px 0px 20px 0px;
}

.section-sm {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}